body {
    color: rgb(255, 255, 255);
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: #727d88;
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(9, 102, 232, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}
.choice-text {
    padding: 2rem;
    width: 100%;
}
.choice-prefix {
    padding: 2rem 2.5rem;
    color: rgb(255, 255, 255);
}
.correct {
    background: #1fb712;
}

.incorrect {
    background: #c11919;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}
#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #1fb712;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: #1fb712;
    width: 0%;
}
